
$primColorLight: #704226; // left panel bg color
$primColor: #4c2810;  // board coords color
$primColorDark: #3f220e;  // Mybtn color
$primColorDarker: #361c0a; //Mybtn hover color

$secColor: #ffcc66;
// $secColorLight: #b2ad7f;
// $secColorDark: #878f99;

$playerXcolor: #336699;
$playerOcolor: $secColor;
